extends base

block content

    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
        h1= `Are you sure you want to delete the ${category.title} category?`
        a.btn-primary.btn-lg(href='/dashboard/categories/all') Cancel
        br
        br
        a.deleteCategory.btn-danger.btn-lg(data-id=category.id) Delete 