extends base

block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
        .container
            .py-5.text-center
                h2 Product form
            .row
                .col-md-8.order-md-1
                    form.productForm.needs-validation(novalidate='' enctype="multipart/form-data")
                        .mb-3
                            label(for='title') Name of Product
                            .input-group
                                input#title.form-control(type='text' placeholder='Name' required='')
                                .invalid-feedback(style='width: 100%;')
                                    | Your username is required.
                        .mb-3
                            label(for='description') Product Description
                            .input-group
                                textarea#description.form-control.form-control-modern(rows='6')
                        .mb-3
                            label(for='price') Regular Price
                            input#price.form-control(type='text' placeholder='10' required='')
                            .invalid-feedback
                        .mb-3
                            label(for='priceDiscount')
                                | Sales Price 
                                span.text-muted (Optional)
                            input#priceDiscount.form-control(type='text' placeholder='8')
                        .form-group
                            label(for='categories') Category
                            select#categories.form-control
                                each category in categories
                                    option.category(data-id=category.id)= category.title
                        .form-group
                            label(for='visibility') Is Visibile
                            select#visibility.form-control
                                option.visible(data-bool='yes') Yes
                                option.visible(data-bool='no') No
                                   
                        .row
                            .col-md-5.mb-3
                                label(for='images') Pictures of product
                                input#images(type='file' name='Picture of product' multiple)
                                .invalid-feedback
                                    | Please select a valid price.
                            button.btn.btn-primary.btn-lg.btn-block(type='submit') Upload
