node_modules/
*.env
.cache/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Added Due to Switch from AWS to Heroku
.ebextensions/
.npmrc
.platform/
