footer#footer
    .container
        .footer-ribbon
            span Get in Touch
        .row.py-5.my-4
            // NEW ITEM
            .col-md-6.col-lg-4.mb-4.mb-lg-0
                h5.text-5.text-transform-none.font-weight-semibold.text-color-light.mb-4
                    | Newsletter
                #newsletterSuccess.alert.alert-success.d-none
                    strong Success!
                    |  You've been added to our email list.
                #newsletterError.alert.alert-danger.d-none
                form#mc-embedded-subscribe-form.validate.mb-3.mb-md-0(action='https://sapphirescentghana.us1.list-manage.com/subscribe/post?u=b775fd2f76d836da0d0b55bfb&id=370ab0ec94' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                    #mc_embed_signup_scroll.input-group.input-group-rounded
                        input#mce-EMAIL.form-control.form-control-sm.bg-light(placeholder='Email Address' name='newsletterEmail' type='text')
                        div(style='position: absolute; left: -5000px' aria-hidden='true')
                            input(type='text' name='b_b775fd2f76d836da0d0b55bfb_370ab0ec94' tabindex='-1' value='')
                        span.input-group-append
                            button#mc-embedded-subscribe.btn.btn-light.text-color-dark(type='submit')
                                strong GO!
            // END
            .col-md-6.col-lg-4.mb-4.mb-md-0
                .contact-details
                    h5.text-3.mb-3 CONTACT US
                    ul.list.list-icons.list-icons-lg
                        li.mb-1
                            i.far.fa-dot-circle.text-color-primary
                            p.m-0 Accra, Ghana
                        li.mb-1
                            i.fab.fa-whatsapp.text-color-primary
                            p.m-0
                                a(href='tel:+233 23 555 5353') +233 23 555 5353
                        li.mb-1
                            i.far.fa-envelope.text-color-primary
                            p.m-0
                                a(href='mailto:mail@example.com') hello@sapphirescentgh.com
            .col-md-6.col-lg-4
                h5.text-3.mb-3 FOLLOW US
                ul.social-icons
                    li.social-icons-facebook
                        a(href='http://www.facebook.com/' target='_blank' title='Facebook')
                            i.fab.fa-facebook-f
                    li.social-icons-twitter
                        a(href='http://www.twitter.com/' target='_blank' title='Twitter')
                            i.fab.fa-twitter
                    li.social-icons-linkedin
                        a(href='http://www.linkedin.com/' target='_blank' title='Linkedin')
                            i.fab.fa-linkedin-in
    .footer-copyright
        .container.py-2
            .row.py-4
                .col-lg-7.d-flex.align-items-center.justify-content-center.justify-content-lg-start.mb-4.mb-lg-0
                    p © Copyright 2021. All Rights Reserved.
// /web/Vendor


script(src='/web/vendor/jquery/jquery.min.js')
script(src='/web/vendor/jquery.appear/jquery.appear.min.js')
script(src='/web/vendor/jquery.easing/jquery.easing.min.js')
script(src='/web/vendor/jquery.cookie/jquery.cookie.min.js')
script(src='/web/vendor/popper/umd/popper.min.js')
script(src='/web/vendor/bootstrap/js/bootstrap.min.js')
script(src='/web/vendor/common/common.min.js')
script(src='/web/vendor/jquery.validation/jquery.validate.min.js')
script(src='/web/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js')
script(src='/web/vendor/jquery.gmap/jquery.gmap.min.js')
script(src='/web/vendor/jquery.lazyload/jquery.lazyload.min.js')
script(src='/web/vendor/isotope/jquery.isotope.min.js')
script(src='/web/vendor/owl.carousel/owl.carousel.min.js')
script(src='/web/vendor/magnific-popup/jquery.magnific-popup.min.js')
script(src='/web/vendor/vide/jquery.vide.min.js')
script(src='/web/vendor/vivus/vivus.min.js')
script(src='/web/vendor/elevatezoom/jquery.elevatezoom.min.js')

// Theme Base, Components and Settings
script(src='/web/js/theme.js')
// Current Page /web/Vendor and Views
script(src='/web/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js')
// Current Page /web/Vendor and Views
script(src='/web/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js')
script(src='/web/js/views/view.home.js')
// Theme Custom
script(src='/web/js/custom.js')
// Theme Initialization Files
script(src='/web/js/theme.init.js')

script(src='/web/js/views/view.shop.js')
script(src="/js/web/bundle.js")


//
    Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-12345678-1', 'auto');
    ga('send', 'pageview');
    </script>
